.weather-box {
  margin-top: 20px;
  border-bottom: solid 2px #ccc;
  background: #f7f7f7;
}
.weather-box .weather-content {
  padding: 10px 10px 0;
}
.weather-box h3 a {
  text-decoration: none;
}
.weather-data {
  clear: both;
  min-height: 37px;
  margin-bottom: 5px;
}
.weather-icon {
  text-indent: -1337em;
  width: 40px;
  height: 37px;
  float: left;
  margin-right: 5px;
  background: url('weather-sprites.png') no-repeat;
}
.weather-icon.precipitation {
  background-position: -40px 0;
}
.weather-reading {
  padding-top: 10px;
}
.weather-reading .feels-like {
  font-size: .9em;
}
.weather-box .weather-time {
  padding: 0 5px;
  font-size: .9em;
  clear: both;
}
.weather-box .morelink {
  padding: 10px 10px 0;
}

.secondary .weather-box h3 {
  display: none;
}
.secondary .morelink.weather-station {
  display: none;
}

.primary .weather-box {
  margin: 0 20px;
  width: 28.3em;
  min-width: 340px;
  max-width: 48%;
}
.primary .weather-box {
  margin-bottom: 10px;
}
.primary .weather-box h2 {
  display: none;
}
.primary .weather-box h3 {
  margin: 0 0 15px;
}
.primary .weather-box h3 a {
  display: block;
  text-indent: -1337em;
  width: 185px;
  height: 33px;
  background: url('weather-station.png') no-repeat;
}
.primary .weather-data {
  float: left;
  clear: none;
  width: 48%;
}
.primary .weather-icon {
  width: 60px;
  height: 55px;
  background-position: 0 -40px;
}
.primary .weather-icon.precipitation {
  background-position: -60px -40px;
}
.primary .weather-reading {
  padding-top: 15px;
}
.primary .weather-time {
  text-align: right;
  padding: 10px 0 0;
  font-size: 1em;
}
.primary .morelink.weather-sources {
  display: none;
}
